<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">Beyond A Bruin</a>

    <nav class="site-nav">
      <div class="trigger">
        <!--
        <ul>
          <li><a class="page-link" href="/">Home</a></li>
          <li><a class="page-link" href="/news/">News</a></li>
          <li><a class="page-link" href="/sports/">Sports</a></li>
          <li><a class="page-link" href="/columns/">Columns</a></li>
          <li><a class="page-link" href="/radio/">Radio</a></li>
          <li><a class="page-link" href="/video/">Video</a></li>
        </ul>
        -->
          <a class="page-link" href="/">Home</a>
          <a class="page-link" href="/news/">News</a>
          <a class="page-link" href="/sports/">Sports</a>
          <a class="page-link" href="/columns/">Columns</a>
          <a class="page-link" href="/radio/">Radio</a>
          <a class="page-link" href="/video/">Video</a>

      </div>
    </nav>

  </div>

</header>
