<header class="site-header">

  <div class="wrap">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
           
          <a class="navbar-brand" href="http://dailybruin.com/">Daily Bruin</a>
        </div>

         
          <ul class="nav nav-pills">
            <li><a class="page-link" href="/">Home</a></li>
            <li><a class="page-link" href="/news/">News</a></li>
            <li><a class="page-link" href="/sports/">Sports</a></li>
            <li><a class="page-link" href="/columns/">Columns</a></li>
            <li><a class="page-link" href="/radio/">Radio</a></li>
            <li><a class="page-link" href="/video/">Video</a></li>
          </ul>
       
        
         <!--
          <a class="page-link" href="/">Home</a>
          <a class="page-link" href="/news/">News</a>
          <a class="page-link" href="/sports/">Sports</a>
          <a class="page-link" href="/columns/">Columns</a>
          <a class="page-link" href="/radio/">Radio</a>
          <a class="page-link" href="/video/">Video</a>
        -->
      </div>
    </nav>
 <a class="site-title" href="{{ site.baseurl }}/">Beyond A Bruin</a>
  </div>

</header>
